<!DOCTYPE html>
<html>

<head>
	<title>DISTRICENTER</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

	<link rel="stylesheet" href="/css/style.css">

</head>

<body ng-app='app' style="background-color: #34a5ad;" ng-controller='ctrMan' ng-cloack>

	<div id="loader"></div>
	<div id="ctnMan" style="visibility: hidden;">
		<div class="w6-row {{clt}} fxd">
			<div class="w3-col w3-left w3-container bar-height" style="width:80px">
				<img id="lg" src="" class="w3-round bar-logo" alt="">
			</div>
			<div class="w3-col w3-left w3-container bar-height bar-neg">
				<h4 id="labNeg" class="w3-merriweather"
					style="font-weight: bold; line-height: 22px;margin: 5px 0px; line-height: 25px; visibility: hidden;"
					ng-model="ngc">{{ngc}}</h4>
			</div>
			<div class="w3-col w3-right w3-center bar-height bar-cart">
				<div ng-hide='!crt'>
					<i class="fa fa-shopping-cart  w3-xlarge pointer w3-left" ng-click='myCrt()'></i>
					<span id="bdgCrt" class="w3-badge w3-red w3-small w3-left" style="margin-top:-5px;margin-left: 1px;">0</span>
				</div>

			</div>
			<div class="w3-rest bar-height">
				<input class="w3-input w3-border w3-round bar-search w3-merriweather" placeholder="{{txtBsc+'...'}}" type="text"
					maxlength="30" autocapitalize="off" autocorrect="off" spellcheck="false" autocomplete="off" ng-model="srch"
					ng-init="srch=''" ng-Keyup="configPages()">
			</div>
		</div>
		<div class="w3-container w3-merriweather w3-center {{clt}}  bar-neg-sub" style="margin-top:60px;" ng-model="ngc">
			<h3 ng-hide="ngc.length>15">{{ngc}}</h3>
			<h5 ng-hide="ngc.length<16">{{ngc}}</h5>
		</div>


		<div class="w3-row cnt-ctr-sml w3-merriweather w3-card">
			<div class="w3-container w3-col s5 w3-center">
				<div onclick="document.getElementById('modCtg').style.display='block'" ng-hide="ctgs.length<2">
					<h4 class="notSelTxt" style="color: {{cblu}};">{{txtCtg}}</h4>
				</div>



			</div>
			<div class="w3-container w3-col s2 w3-center">
				<h4 style="color: #00000021;">|</h4>
			</div>
			<div class="w3-container w3-col s5 w3-center" onclick="document.getElementById('modSrt').style.display='block'">
				<h4 class="notSelTxt" style="color: {{cblu}};">{{txtSrt}}</h4>
			</div>
		</div>

		<div class="w3-container cnt-ctr-lar">

			<div class="w3-left w3-merriweather" style="margin-left:50px;" ng-hide="ctgs.length<2">
				{{txtCtg}}
				<div class="w3-dropdown-hover w3-merriweather">
					<button class="w3-button {{clt}}" style="width:250px">{{txtCtgCrt}}</button>
					<div class="w3-dropdown-content w3-bar-block ctnCtgDro {{clt}}">
						<a href="" class="w3-bar-item w3-button" ng-repeat='ctg in ctgs' ng-click='selCtg(ctg)'>{{ctg.n}}</a>
					</div>
				</div>

			</div>

			<div class="w3-right w3-merriweather" style="margin-right:50px;">
				{{txtSrt}}
				<div class="w3-dropdown-hover w3-merriweather">
					<button class="w3-button {{clt}}" style="width:180px">{{txtSrtCrt}}</button>
					<div class="w3-dropdown-content w3-bar-block ctnSrtDro {{clt}}">
						<a href="" class="w3-bar-item w3-button" ng-click="selSrt(0)">{{txtAlf}}</a>
						<a href="" class="w3-bar-item w3-button" ng-click="selSrt(1)">{{txtMyp}}</a>
						<a href="" class="w3-bar-item w3-button" ng-click="selSrt(2)">{{txtMnp}}</a>
					</div>
				</div>
			</div>
		</div>


		<div class="w3-container spc50">

			<div ng-init='configPages()' class="w3-row-padding ctnItm">
				<div class="w3-col s6 m3 4"
					ng-repeat='itm in itmsCur | orderBy:sort| startFromGrid: currentPage * pageSize | limitTo: pageSize '>
					<div class="w3-panel w3-card w3-white mrgItm w3-merriweather">
						<div ng-hide="!img" class="w3-container w3-margin-bottom w3-center" style="height: 260px">
							<img ng-hide="{{itm.l=='null'?true:false}}" src="{{itm.l+'.jpg'}}" class="w3-round thbGrd"
								onload="ajIm(this)">
							<i ng-hide="{{itm.l=='null'?false:true}}" class="fa fa-image w3-round thbGrd"
								style="margin-top:60px;"></i>

						</div>
						<div class="w3-margin-top w3-margin-bottom w3-border-bottom"></div>
						<p class="w3-small" style="line-height: 0.7;" ng-hide="cla">{{itm.k}}</p>
						<p class="w3-small" style="line-height: 0.7;" ng-hide="uni">{{itm.u}}</p>
						<p style="line-height: 1.1; height: 35px;">{{itm.d}}</p>

						<div class="w3-row w3-center w3-margin-top w3-margin-bottom" style="height:40px;">
							<div class="w3-col w3-right" style="width:60px">

								<i class="fa fa-cart-plus w3-xxlarge pointer" ng-click='addCrt($event.currentTarget,itm)'
									style="color: {{cblu}};" ng-hide='!crt'></i>
							</div>
							<div class="w3-rest w3-center">
								<label ng-class="{'w3-large':itm.p.length>12,'w3-xlarge':itm.p.length<=12}">{{itm.p}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='btn-group w3-center spc50'>
				<button type='button' class='w3-merriweather btnPag pointer' ng-hide='currentPage == 0' ng-click='ntr()'>
					{{txtPrv}}</button>
				<label class="w3-merriweather w3-large w3-margin-left pagCur">{{currentPage+1}}</label><label
					class="w3-merriweather w3-large w3-margin-right">{{' / '+ pages.length }}</label>
				<button type='button' class='w3-merriweather btnPag pointer'
					ng-hide='currentPage >= itmsCur.length/pageSize - 1' , ng-click='nxt()'>{{txtNxt}} ></button>
			</div>

		</div>

		<br><br><br>
		<footer class="w3-container w3-padding-32 spc50 {{clt}}">
			<div class="w3-row-padding w3-center">
				<div class="{{ txtInf==null||txtInf==''?'':'w3-half' }}" ng-hide="txtTel==null||txtTel==''?true:false">
					<div class="w3-container" id="contact">
						<h4 class="w3-merriweather">{{ngc}}</h4>
						<a href="tel:{{txtTel}}"><i class="fa fa-phone"></i>{{txtTel}}</a><br>
						<a class="w3-margin-top" href="mailto:{{txtCor}}" ng-hide="txtCor==''||txtCor==null?true:false"><i
								class="fa fa-envelope"></i>{{txtCor}}</a>
					</div>
				</div>

				<div class="{{ txtTel==null||txtTel==''?'':'w3-half' }}" ng-hide="txtInf==null||txtInf==''?true:false">
					<p id="textInf"></p>
				</div>


			</div>
			<div style="height:90px" ng-hide="!wat"></div>
		</footer>
		<a ng-hide="!wat" href="https://api.whatsapp.com/send?phone={{txtTel}}" class="btnWhts" target="_blank">
			<i class="fa fa-whatsapp w3-xxxlarge"></i>
		</a>


		<div id="modCrt" class="w3-modal" style="padding-top:30px;z-index: 3000;">
			<div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px;overflow: auto; height: 90%;">

				<div class="w3-center"><br>
					<span onclick="document.getElementById('modCrt').style.display='none'"
						class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">{{clo}} &times;</span>
				</div>
				<form class="w3-container w3-margin-top" ng-submit="snd()">
					<div class="w3-section">
						<div class="w3-padding-small">
							<i class="fa fa-user w3-xlarge inpDraLef"></i><input class="w3-input w3-border"
								style="padding-left: 35px;" placeholder="{{txtPlaNam}}" type="text" ng-model="namc" required>
						</div>

						<input class="w3-button w3-block w3-section w3-padding w3-margin-top w3-merriweather {{clt}}" type="submit"
							value="{{txtSct}}" ng-hide="btc">
						<div class="w3-center" ng-hide="lod"><i class="fa fa-spinner w3-jumbo w3-spin"></i></div>
						<p ng-hide="itmsCrt.itms.length>0?true:false" class="w3-display-middle">{{txtSin}}</p>
						<div class="w3-row w3-border-bottom w3-padding-16" ng-repeat='itm in itmsCrt.itms'>
							<div ng-hide="!img" class="w3-col s3 m2 l2 w3-center">
								<img ng-hide="{{itm.l=='null'?true:false}}" src="{{itm.l+'.jpg'}}" class="w3-round" style="width:90%;">

								<i ng-hide="{{itm.l=='null'?false:true}}" class="fa fa-image w3-jumbo w3-round" style="width:90%;"></i>


							</div>
							<div class="w3-col s9 m10 l10">
								<span class="w3-margin-left w3-merriweather" ng-hide="cla">{{itm.k}}</span><br>
								<span class="w3-margin-left w3-merriweather" ng-hide="uni">{{itm.u}}</span><br>
								<span class="w3-margin-left w3-merriweather">{{itm.d}}</span>
								<div class="w3-row">
									<div class="w3-col s2 m5 l5 w3-text-red">
										<i class="fa fa-trash w3-xlarge w3-right" style="margin-top: 5px;" ng-click='delItmCrt(itm)'></i>
									</div>
									<div class="w3-col s10 m7 l7 ">
										<i class="fa fa-plus-circle w3-xlarge w3-margin-right w3-right" ng-click='itm.q=itm.q+1'
											style="margin-top: 5px;"></i>

										<span class="w3-margin-left w3-margin-right w3-xlarge w3-right"><input class="inNum" type="text"
												ng-model="itm.q"></span>
										<i class="fa fa-minus-circle w3-xlarge w3-right" ng-click='itm.q=itm.q-1<0?itm.q:itm.q-1'
											style="margin-top: 5px;"></i>

									</div>

								</div>
							</div>
						</div>


					</div>
				</form>


			</div>
		</div>


		<div id="modSrt" class="w3-modal" style="z-index: 3000;">
			<div class="w3-modal-content w3-card-4">
				<header class="w3-container {{clt}}">
					<span onclick="document.getElementById('modSrt').style.display='none'"
						class="w3-button w3-display-topright">&times;</span>
					<h2>{{txtSrt}}</h2>
				</header>
				<div class="w3-container">
					<ul class="w3-ul w3-border-bottom">
						<li class="w3-container notSelTxt" ng-click="selSrt(0)">{{txtAlf}}</li>
						<li class="w3-container notSelTxt" ng-click="selSrt(1)">{{txtMyp}}</li>
						<li class="w3-container notSelTxt" ng-click="selSrt(2)">{{txtMnp}}</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="modCtg" class="w3-modal" style="z-index: 3000;">
			<div class="w3-modal-content w3-card-4">
				<header class="w3-container {{clt}}">
					<span onclick="document.getElementById('modCtg').style.display='none'"
						class="w3-button w3-display-topright">&times;</span>
					<h2>{{txtCtg}}</h2>
				</header>
				<div class="w3-container" style="overflow: auto; max-height: 320px;">
					<ul class="w3-ul w3-monospace" ng-repeat='ctg in ctgs'>
						<li class="w3-border-bottom w3-container" ng-click='selCtg(ctg)'>{{ctg.n}}</li>
					</ul>
				</div>
			</div>
		</div>


	</div>


	<script src="js/index.js"></script>
</body>

</html>